.container {
  width: 100%;
  min-height: 66vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.box {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.box__titulo {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: var(--cor-principal);
  padding: 20px;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  color: #fff;
}

.box__info {
  align-self: center;
  padding: 25px;
}

.box__info p {
  font-size: 18px;
}

.box__info__categoria {
  padding: 10px;
}

.box__info__valor {
  padding: 10px;
  text-align: center;
}

.box__info__data {
  padding: 10px;
}

.box__info__campo {
  font-weight: bold;
  color: var(--cor-principal);
}

.box__botoes{
  padding: 10px 25px 25px;
  display: flex;
  justify-content: space-evenly;
}

.box__botao {
  border: none;
  padding: 15px;
  border-radius: 5px;
}

.box__botao--editar {
  background-color: var(--cor-principal);
  border: 2px solid var(--cor-principal);
  color: #fff;
}

.box__botao--editar:hover {
  background-color: #fff;
  color: var(--cor-principal);
}

.box__botao--excluir {
  background-color: #C21807;
  color: #fff;
}

.box__botao--excluir:hover {
  background-color: #7f0000;
}
