a {
  color: #fff;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--cor-principal);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header__logo {
  font-size: 25px;
  font-weight: bold;
  color: #fff;
}

.header__nav {
  display: flex;
  justify-content: space-between;
}

.header__nav__link {
  padding: 25px;
}

.header__nav__link:hover {
  background-color: #fff;
  color: var(--cor-principal);
}
