<header class="header">
  <span class="header__logo">
    <h1>Challenge_Backend_Financas</h1>
  </span>
  <nav class="header__nav">
    <a class="header__nav__link" [routerLink]="['/home']">Home</a>
    <a class="header__nav__link" [routerLink]="['/receitas']">Receitas</a>
    <a class="header__nav__link" [routerLink]="['/home']">Despesas</a>
    <a class="header__nav__link" [routerLink]="['/home']">Categorias</a>
    <a class="header__nav__link" [routerLink]="['/home']">Resumo</a>
  </nav>
  <a class="header__nav__link" href="#">Fazer Login</a>
</header>
