
<main class="container">
  <div class="cabecalho">
    <h2 class="cabecalho__titulo">Receitas</h2>
    <form class="cabecalho__search" [formGroup]="searchForm">
      <input class="cabecalho__search__input" type="text" placeholder="Pesquise aqui..." formControlName="search">
      <button class="btn cabecalho__search__botao" type="submit" [disabled]="searchForm.invalid" (click)="onSearch()">Buscar</button>
    </form>
    <button class="cabecalho__botao" [routerLink]="['./adicionar']">Adicionar Receita</button>
  </div>

  <div class="financas" *ngIf="receitas | async as receitas; else loading">
    <div *ngFor="let receita of receitas" class="financas__box">
      <h2 class="financas__box__titulo"> {{receita.descricao}} </h2>
      <h3 class="financas__box__categoria"> {{receita.categoria.nomeCategoria}} </h3>
      <p class="financas__box__valor">Valor: R$ {{ receita.valor }}</p>
      <button class="financas__box__botao" (click)="maisDetalhes(receita.id)">Mais detalhes</button>
    </div>
  </div>
</main>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
